<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        /* Estilos CSS */

        /* Estilo para o corpo da página */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        /* Estilo para o cabeçalho */
        h1 {
            color: #333;
            text-align: center;
            padding: 20px;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <h1>Home</h1>
    <ul>
        <li><a href="/cadastrar/pets">Cadastrar Pets</a></li>
        <li><a href="/cadastrar/usuarios">Cadastrar Usuários</a></li>
        <li><a href="/cadastrar/doacoes">Cadastrar Doações</a></li>
        <li><a href="/consultar/pets">Consultar os pets</a></li>
        <li><a href="/consultar/usuarios">Consultar Usuários</a></li>
        <li><a href="/consultar/doacoes">Consultar Doações</a></li>
    </ul>
</body>
</html>
